<div class="toc_subhead">Introduction</div>

<li><a href="{{ include.hashmark }}documentation-highlights.html">Highlights for New Users</a></li>
<li><a href="{{ include.hashmark }}documentation-general-usage.html">General Usage</a></li>

<div class="toc_subhead">User Interface</div>

<li><a href="{{ include.hashmark }}documentation-menu-items.html">Menu Items</a></li>
<li><a href="{{ include.hashmark }}documentation-preferences.html">Preferences</a></li>
<li><a href="{{ include.hashmark }}documentation-touch-bar.html">Touch Bar</a></li>
<li><a href="{{ include.hashmark }}documentation-copymode.html">Copy Mode</a></li>
<li><a href="{{ include.hashmark }}documentation-fonts.html">Fonts</a></li>
<li><a href="{{ include.hashmark }}documentation-search-syntax.html">Profile Search Syntax</a></li>

<div class="toc_subhead">Features</div>

<li><a href="{{ include.hashmark }}documentation-automatic-profile-switching.html">Automatic Profile Switching</a></li>
<li><a href="{{ include.hashmark }}documentation-badges.html">Badges</a></li>
<li><a href="{{ include.hashmark }}documentation-buried-sessions.html">Buried Sessions</a></li>
<li><a href="{{ include.hashmark }}documentation-captured-output.html">Captured Output</a></li>
<li><a href="{{ include.hashmark }}documentation-coprocesses.html">Coprocesses</a></li>
<li><a href="{{ include.hashmark }}documentation-hotkey.html">Hotkeys</a></li>
<li><a href="{{ include.hashmark }}documentation-restoration.html">Session Restoration</a></li>
<li><a href="{{ include.hashmark }}documentation-shell-integration.html">Shell Integration</a></li>
<li><a href="{{ include.hashmark }}documentation-smart-selection.html">Smart Selection</a></li>
<li><a href="{{ include.hashmark }}documentation-tmux-integration.html">tmux Integration</a></li>
<li><a href="{{ include.hashmark }}documentation-triggers.html">Triggers</a></li>
<li><a href="{{ include.hashmark }}documentation-utilities.html">Utilities</a></li>

<div class="toc_subhead">Scripting</div>

<li><a href="{{ include.hashmark }}documentation-scripting-fundamentals.html">Scripting Fundamentals</a></li>
<li><a href="{{ include.hashmark }}documentation-variables.html">Variables</a></li>

<div class="toc_subhead">Advanced</div>

<li><a href="{{ include.hashmark }}documentation-scripting.html">Applescript</a></li>
<li><a href="{{ include.hashmark }}documentation-dynamic-profiles.html">Dynamic Profiles</a></li>
<li><a href="{{ include.hashmark }}documentation-images.html">Inline Images Protocol</a></li>
<li><a href="{{ include.hashmark }}documentation-escape-codes.html">Proprietary Escape Codes</a></li>
