<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content="iTerm2 is a replacement for Terminal and the successor to iTerm">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="css/app.css" />

</head>
<body>
<div class="row">
  <div class="small-12 medium-12 large-10 large-centered columns wide-row">
    <div class="main panel">
      {{ content }}
    </div>
  </div>
</div>
<footer>
  <div class="row">
    <div class="small-12 medium-12 large-10 large-centered columns text-center">
      <p>iTerm2 by George Nachman. Website by Matthew Freeman, George Nachman, and James A. Rosen.</p>
      <p>Updated and optimized by <a href="http://hexbrain.com" target="_blank">HexBrain</a></p>
    </div>
  </div>
</footer>
<script src="js/scripts.js"></script>
<script type="text/javascript">
$(document).foundation();
</script>
</body>
</html>
