<div class="toc_subhead">Introduction</div>

<li><a href="/documentation-highlights.html">Highlights for New Users</a></li>
<li><a href="/documentation-general-usage.html">General Usage</a></li>

<div class="toc_subhead">User Interface</div>

<li><a href="/documentation-menu-items.html">Menu Items</a></li>
<li><a href="/documentation-preferences.html">Settings</a></li>
<li><a href="/documentation-touch-bar.html">Touch Bar</a></li>
<li><a href="/documentation-copymode.html">Copy Mode</a></li>
<li><a href="/documentation-fonts.html">Fonts</a></li>
<li><a href="/documentation-search-syntax.html">Profile Search Syntax</a></li>
<li><a href="/documentation-command-selection.html">Command Selection and Command URLs</a></li>

<div class="toc_subhead">Features</div>

<li><a href="/documentation-automatic-profile-switching.html">Automatic Profile Switching</a></li>
<li><a href="/documentation-badges.html">Badges</a></li>
<li><a href="/documentation-buried-sessions.html">Buried Sessions</a></li>
<li><a href="/documentation-captured-output.html">Captured Output</a></li>
<li><a href="/documentation-coprocesses.html">Coprocesses</a></li>
<li><a href="/documentation-hotkey.html">Hotkeys</a></li>
<li><a href="/documentation-restoration.html">Session Restoration</a></li>
<li><a href="/documentation-shell-integration.html">Shell Integration</a></li>
<li><a href="/documentation-smart-selection.html">Smart Selection</a></li>
<li><a href="/documentation-tmux-integration.html">tmux Integration</a></li>
<li><a href="/documentation-triggers.html">Triggers</a></li>
<li><a href="/documentation-utilities.html">Utilities</a></li>

<div class="toc_subhead">Advanced</div>

<li><a href="/documentation-scripting.html">Scripting</a></li>
<li><a href="/documentation-dynamic-profiles.html">Dynamic Profiles</a></li>
<li><a href="/documentation-images.html">Inline Images Protocol</a></li>
<li><a href="/documentation-escape-codes.html">Proprietary Escape Codes</a></li>
