Options -Indexes
deny from 63.143.42.245

Redirect 302 /imgcat https://raw.githubusercontent.com/gnachman/iTerm2/master/tests/imgcat
Redirect 302 /coprocesses.html /documentation-coprocesses.html
Redirect 302 /debuglog https://gitlab.com/gnachman/iterm2/wikis/DebugLogging
Redirect 302 /troubleshoot-hostname https://gitlab.com/gnachman/iterm2/wikis/scp-not-connecting
Redirect 302 /it2dl https://raw.githubusercontent.com/gnachman/iTerm2/master/tests/download.sh
Redirect 302 /regex http://userguide.icu-project.org/strings/regexp
Redirect 302 /documentation/index.html /documentation.html

Redirect 302 /applescript.html /documentation-scripting.html
Redirect 302 /automatic-profile-switching.html /documentation-automatic-profile-switching.html
Redirect 302 /badges.html /documentation-badges.html
Redirect 302 /captured_output.html /documentation-captured-output.html
Redirect 302 /dynamic-profiles.html /documentation-dynamic-profiles.html
Redirect 302 /finalterm.html /documentation-escape-codes.html
Redirect 302 /images.html /documentation-images.html
Redirect 302 /restoration.html /documentation-restoration.html
Redirect 302 /search_syntax.html /documentation-search-syntax.html
Redirect 302 /shell_integration.html /documentation-shell-integration.html
Redirect 302 /utilities.html /documentation-utilities.html
Redirect 302 /tmux22bug.html https://gitlab.com/gnachman/iterm2/wikis/tmux22bug
Redirect 302 /paste_bracketing https://gitlab.com/gnachman/iterm2/wikis/Paste-Bracketing

Redirect 302 /bugs https://gitlab.com/gnachman/iterm2/issues
Redirect 302 /full-disk-access https://gitlab.com/gnachman/iterm2/wikis/fulldiskaccess
Redirect 302 /event-tap-help  https://gitlab.com/gnachman/iterm2/wikis/event-tap-help
Redirect 302 /status-bar-layout https://gitlab.com/gnachman/iterm2/wikis/Status-Bar-Tips
Redirect 302 /python-api-security-model https://gitlab.com/gnachman/iterm2/-/wikis/iTerm2-Version-3.3-Security-Updates
Redirect 302 /clock-status-bar-component-help https://gitlab.com/gnachman/iterm2/-/wikis/Date-Formatting-in-the-Clock-Status-Bar-Component

ErrorDocument 404 /error.html

RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301] 


<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{HTTP_USER_AGENT} uptimerobot.com [NC]
  RewriteRule . - [R=403,L]
</IfModule>

